<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhoneShop.Properties.Settings.salephoneConnectionString"
            connectionString="server=localhost;user id=root;password=pass;persistsecurityinfo=True;database=salephone"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>